<a href="https://colab.research.google.com/github/pxs1990/pyspark_project/blob/main/pyspark_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tutorial covers:

PySpark Dataframe,
Reading The Dataset,
Checking the Datatypes of the Column(Schema),
Selecting Columns And Indexing,
Check Describe option similar to Pandas,
Adding Columns,
Dropping columns,
Renaming Columns,

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=9c15b7174829dfea4b3e09afb6990a3acdfc1c02ca55fe275ca75d32b1d5f203
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:

import pyspark

# **Building the spark Session:**

In [ ]:
from pyspark.sql import SparkSession #Entry Point to Spar and for config

In [ ]:
sparkSession=SparkSession.builder.appName('Dataframe').getOrCreate()

In [ ]:
sparkSession

In [ ]:
# df_pyspark=sparkSession.read.csv('test1.csv')# gives _c0, _c1 as col_name

In [60]:
df_pyspark=sparkSession.read.option('header','true').csv('test1.csv')# retains col_name as header

In [61]:
df_pyspark

DataFrame[Name: string, age: string, Experience: string, Salary: string]

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [83]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 31|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|       Jo| 23|         5| 25000|
|      Sam| 21|         4| 28000|
|       Li| 29|         1| 15000|
+---------+---+----------+------+

# **Convering spark df to pandas df:**

In [63]:
df_pandas = df_pyspark.toPandas()
df_pandas.head()

        Name age Experience Salary
0      Krish  31         10  30000
1  Sudhanshu  30          8  25000
2      Sunny  29          4  20000
3       Paul  31          3  20000
4     Harsha  21          1  15000

In [ ]:
type(df_pandas)

pandas.core.frame.DataFrame

In [69]:
df_pyspark.columns

['Name', 'age', 'Experience', 'Salary']

In [71]:
df_pyspark.dtypes

[('Name', 'string'),
 ('age', 'string'),
 ('Experience', 'string'),
 ('Salary', 'string')]

In [74]:
from pyspark.sql.functions import col

# Convert data types to integer
df_pyspark = df_pyspark.withColumn('age', df_pyspark['age'].cast('int'))
df_pyspark = df_pyspark.withColumn('Experience', df_pyspark['Experience'].cast('int'))
df_pyspark = df_pyspark.withColumn('Salary', df_pyspark['Salary'].cast('int'))

#df = df.withColumn('new_column', df['existing_column'].cast('new_data_type'))

In [73]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [ ]:
import pyspark.sql.functions as F

In [ ]:
df_pyspark['Name']

Column<'Name'>

In [64]:
# Selecting Columns
df_selected = df_pyspark.select('Name')
df_selected.show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
|     Paul|
|   Harsha|
|  Shubham|
|       Jo|
|      Sam|
|       Li|
+---------+

In [75]:
# Filtering Rows
df_filtered = df_pyspark.filter(df_pyspark['age'] > 29)
df_filtered.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|     Paul| 31|         3| 20000|
+---------+---+----------+------+

In [76]:
# Grouping and Aggregating
df_grouped = df_pyspark.groupBy('age').agg({'Salary': 'sum'})
df_grouped.show()

+---+-----------+
|age|sum(Salary)|
+---+-----------+
| 31|      50000|
| 23|      43000|
| 29|      35000|
| 21|      43000|
| 30|      25000|
+---+-----------+

In [77]:
# Sorting
df_sorted = df_pyspark.orderBy('Experience')
df_sorted.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|   Harsha| 21|         1| 15000|
|       Li| 29|         1| 15000|
|  Shubham| 23|         2| 18000|
|     Paul| 31|         3| 20000|
|    Sunny| 29|         4| 20000|
|      Sam| 21|         4| 28000|
|       Jo| 23|         5| 25000|
|Sudhanshu| 30|         8| 25000|
|    Krish| 31|        10| 30000|
+---------+---+----------+------+

# **Joing the df:**

In [85]:
other_df = sparkSession.createDataFrame([(21, 'Adi'), (22, 'Bob'),(23, 'Charli'),(21, 'Jay'),(60, 'Jack')], ['age', 'Name'])

In [86]:
other_df.show()

+---+------+
|age|  Name|
+---+------+
| 21|   Adi|
| 22|   Bob|
| 23|Charli|
| 21|   Jay|
| 60|  Jack|
+---+------+

In [87]:
df_joined = df_pyspark.join(other_df, 'age')
df_joined.show()

+---+-------+----------+------+------+
|age|   Name|Experience|Salary|  Name|
+---+-------+----------+------+------+
| 21|    Sam|         4| 28000|   Adi|
| 21| Harsha|         1| 15000|   Adi|
| 23|     Jo|         5| 25000|Charli|
| 23|Shubham|         2| 18000|Charli|
| 21|    Sam|         4| 28000|   Jay|
| 21| Harsha|         1| 15000|   Jay|
+---+-------+----------+------+------+

In [88]:
df_joined = df_pyspark.join(other_df, 'age', how='left')
df_joined.show()# gives all the data from left table and only common from right table

+---+---------+----------+------+------+
|age|     Name|Experience|Salary|  Name|
+---+---------+----------+------+------+
| 29|    Sunny|         4| 20000|  NULL|
| 29|       Li|         1| 15000|  NULL|
| 31|    Krish|        10| 30000|  NULL|
| 31|     Paul|         3| 20000|  NULL|
| 21|   Harsha|         1| 15000|   Jay|
| 21|   Harsha|         1| 15000|   Adi|
| 21|      Sam|         4| 28000|   Jay|
| 21|      Sam|         4| 28000|   Adi|
| 30|Sudhanshu|         8| 25000|  NULL|
| 23|  Shubham|         2| 18000|Charli|
| 23|       Jo|         5| 25000|Charli|
+---+---------+----------+------+------+

In [99]:
from pyspark.sql.functions import when, lit

# Add a new column 'Department' with values based on conditions
df_with_department = df_pyspark.withColumn('Department',
                                           when(df_pyspark['Name'] == 'Krish', lit('Sales'))
                                           .when(df_pyspark['Name'] == 'Paul', lit('Marketing'))
                                           .when((df_pyspark['Name'] == 'Sam') |
                                                 (df_pyspark['Name'] == 'Sunny') |
                                                 (df_pyspark['Name'] == 'Jo'), lit('IT'))
                                           .otherwise(lit('Other')))
# Add a new column 'Education' with values based on conditions
df_new = df_with_department.withColumn('Education',
                                           when(df_with_department['Name'] == 'Krish', lit('MBA'))
                                           .when(df_with_department['Name'] == 'Paul', lit('PhD'))
                                           .when((df_with_department['Name'] == 'Sam') |
                                                 (df_with_department['Name'] == 'Sunny') |
                                                 (df_with_department['Name'] == 'Jo'), lit('Bachelor'))
                                           .otherwise(lit('Unknown')))


df_new.show()

+---------+---+----------+------+----------+---------+
|     Name|age|Experience|Salary|Department|Education|
+---------+---+----------+------+----------+---------+
|    Krish| 31|        10| 30000|     Sales|      MBA|
|Sudhanshu| 30|         8| 25000|     Other|  Unknown|
|    Sunny| 29|         4| 20000|        IT| Bachelor|
|     Paul| 31|         3| 20000| Marketing|      PhD|
|   Harsha| 21|         1| 15000|     Other|  Unknown|
|  Shubham| 23|         2| 18000|     Other|  Unknown|
|       Jo| 23|         5| 25000|        IT| Bachelor|
|      Sam| 21|         4| 28000|        IT| Bachelor|
|       Li| 29|         1| 15000|     Other|  Unknown|
+---------+---+----------+------+----------+---------+

In [101]:
df_updated = df_new.drop('age')
df_updated.show()

+---------+----------+------+----------+---------+
|     Name|Experience|Salary|Department|Education|
+---------+----------+------+----------+---------+
|    Krish|        10| 30000|     Sales|      MBA|
|Sudhanshu|         8| 25000|     Other|  Unknown|
|    Sunny|         4| 20000|        IT| Bachelor|
|     Paul|         3| 20000| Marketing|      PhD|
|   Harsha|         1| 15000|     Other|  Unknown|
|  Shubham|         2| 18000|     Other|  Unknown|
|       Jo|         5| 25000|        IT| Bachelor|
|      Sam|         4| 28000|        IT| Bachelor|
|       Li|         1| 15000|     Other|  Unknown|
+---------+----------+------+----------+---------+

In [107]:
# Using aggregate fun on df col--> gives df after the aggregation
from pyspark.sql import functions as F

# Row count
row_count = df_updated.count()
print("Row count:", row_count)

# Other aggregation functions
# Maximum value of a column
max_salary = df_updated.agg(F.max('Salary')).collect()[0][0]
print("Maximum salary:", max_salary)

# Minimum value of a column
min_value = df_updated.agg(F.min('Salary')).collect()[0][0]
print("Minimum value:", min_value)

# Sum of values in a column
sum_value = df_updated.agg(F.sum('Salary')).collect()[0][0]
print("Sum of values:", sum_value)

# Average value of a column
avg_value = df_updated.agg(F.avg('Salary')).collect()[0][0]
print("Average value:", avg_value)

# Count of non-null values in a column
count_non_null = df_updated.agg(F.count('Salary')).collect()[0][0]
print("Count of non-null values:", count_non_null)

# Count distinct values in a column
count_distinct = df_updated.agg(F.countDistinct('Salary')).collect()[0][0]
print("Count of distinct values:", count_distinct)

# Standard deviation of values in a column
std_dev = df_updated.agg(F.stddev('Salary')).collect()[0][0]
print("Standard deviation:", std_dev)

Row count: 9
Maximum salary: 30000
Minimum value: 15000
Sum of values: 196000
Average value: 21777.777777777777
Count of non-null values: 9
Count of distinct values: 6
Standard deviation: 5472.151719794001

In [109]:
df_updated.agg(F.max('Salary')).show()

+-----------+
|max(Salary)|
+-----------+
|      30000|
+-----------+

In [114]:
max_row_format=df_updated.agg(F.max('Salary')).collect()[0]

In [115]:
max_row_format[0]

30000

In [116]:
quantiles = df_pyspark.approxQuantile('Salary', [0.25, 0.5, 0.75], 0.05)
print("Quantiles:", quantiles)

Quantiles: [18000.0, 20000.0, 25000.0]

In [117]:
# Writing DataFrames
df_pyspark.write.format('csv').save('output_folder_csv')
df_pyspark.write.format('parquet').save('output_folder_parquet')#store and process large amounts of data by organizing data into columns rather than rows.

In [118]:
# Stop SparkSession
sparkSession.stop()